<div class="d-grid gap-2 d-md-block">
    <button type="submit" class="btn btn-primary" onfocus="false">
        <i class="bi bi-clipboard2-plus"></i>
        Crear
    </button>

    <a class="btn btn-success" asp-action="Index">
        <i class="bi bi-arrow-return-left"></i>
        Regresar
    </a>
</div>