@model SistemaCafeteria.Modelos.Bodega
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var titulo = "Crear bodega";
}

<!--Creamos el formulario de envío de información-->
<form method="post">
    <div style="padding-left: 15%; padding-right: 15%; padding-bottom: inherit.4rem">
        <div class="row border-0">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
        </div>
        <!--Cambio de título de la página-->
        @if (Model.Id != 0)
        {
            //Actualizar
            titulo = "Actualizar Bodega";
            <input type="hidden" asp-for="Id" id="id" />
        }
        <!--Mostramos el título de la página-->
        <div class="col-12 border-bottom p-0">
            <h2 class="text-primary">@titulo</h2>
        </div>
        <!--Campo Nombre-->
        <div class="row mb-2 mt-2 ">
            <div class="form-group col-md-6">
                <label>Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Nombre de la bodega" id="nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
        </div>
        <!--Campo Descripción-->
        <div class="row mb-2 mt-2 ">
            <div class="form-group col-md-6">
                <label>Descripción</label>
                <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripcion de la bodega" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
        </div>
        <!--Campo Estado-->
        <div class="row mb-2 mt-2 ">
            <div class="form-group col-md-6">
                <label>Estado</label>
                <input class="form-check-input form-control" type="checkbox" role="switch" asp-for="Estado">
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
        </div>
        <!--Presentamos las Vistas Parciales-->
        <br />
        <div>
            @if (Model.Id != 0)
            {
                <partial name="_BotonesActualizarYRegresar" model="Model.Id" />
            }
            else
            {
                <partial name="_BotonesCrearYRegresar" model="Model.Id" />
            }
        </div>
    </div>
</form>

<!--Configuramos por medio de un script al dom para que use los helper tags-->
@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById("nombre").addEventListener('change', function () {
            ValidarNombre();
        });

        function ValidarNombre() {
            var url = '@Url.Content("~/")' + "Admin/Bodega/ValidarNombre";
            var id = '#id'
            var nombre = '#nombre';

            $.getJSON(url, { id: $(id).val(), nombre: $(nombre).val() }, function (data) {
                $.each(data, function (key, value) {
                    if (value) {
                        var nombre = document.getElementById("nombre");
                        swal("ERROR", "Este nombre ya Existe", "error");
                        nombre.value = "";
                    }
                });
            })
        }
    </script>
}
